<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
Welcome Back {{data[0]?.fullName}}

  <div class="col-sm-12">
    <div class="row btn">
      <button type="button" class="col-sm-6 btn btn-primary create text-center" data-toggle="modal" data-target="#workoutModal"> Create an Workout
      </button>
      <button type="button" class="col-sm-6 btn btn-primary create text-center" data-toggle="modal" data-target="#excerciseModal"> Create an Excercise
      </button>
    </div>
  </div>

  <div class="col-sm-12 lane">
    <div class="row show-row">
      <h2>Workouts</h2>
      <span *ngIf=!workoutsVisible class="glyphicon glyphicon-collapse-down" (click)="showWorkouts()"></span>
      <span *ngIf=workoutsVisible class="glyphicon glyphicon-collapse-up" (click)="hideWorkouts()"></span>
    </div>
    <div *ngIf=workoutsVisible>
      <div class="row">
        <div *ngFor="let workout of data[0]?.workouts" class="each_workout" >
            <div class="col">
              <p>{{workout.name}}</p>
              <p>{{workout.duration}}</p>
              <p>Excercises:{{workout.excercises.length}}</p>
            </div>
            <a class="col" [routerLink]="['/workout', workout._id]"> View Workout</a>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="excerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create an Excercise
        </h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveNewExcercise()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" placeholder="required" [(ngModel)] = "excerciseInfo.excerciseName" name = "excerciseName">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Weight</label>
            <input type="number" class="form-control"  placeholder="Numbers Only" [(ngModel)] = "excerciseInfo.excerciseWeight" name = "excerciseWeight">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reps</label>
            <input type="number" class="form-control"  placeholder="Numbers Only" [(ngModel)] = "excerciseInfo.excerciseReps" name = "excerciseReps">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Video URL</label>
            <input type="text" class="form-control"  placeholder="Optional" [(ngModel)] = "excerciseInfo.urlLink" name = "urlLink">
          </div>
        </form>
      </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" (click)='saveNewExcercise()'>Create Excercise</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="workoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create an Excercise
        </h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveNewWorkout()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" placeholder="required" [(ngModel)] = "workoutInfo.workoutName" name = "workoutName">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Duration</label>
            <input type="number" class="form-control"  placeholder="Time in minutes" [(ngModel)] = "workoutInfo.workoutDuration" name = "workoutDuration">
          </div>
          <!-- <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reps</label>
            <input type="number" class="form-control"  placeholder="Numbers Only" [(ngModel)] = "excerciseInfo.excerciseReps" name = "excerciseReps">
          </div> -->
          <!-- <div class="form-group">
            <label for="recipient-name" class="col-form-label">Video URL</label>
            <input type="text" class="form-control"  placeholder="Optional" [(ngModel)] = "excerciseInfo.urlLink" name = "urlLink">
          </div> -->
        </form>
      </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" (click)='saveNewWorkout()'>Create Workout</button>
        </div>
      </div>
    </div>
  </div>



</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
