<button type="button" class="col6 btn btn-primary create text-center" data-toggle="modal" data-target="#addExcercise"> Add to Workout
</button>

<div class="modal fade" id="addExcercise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Add <strong>{{excercise.name}}</strong> to a Workout
      </h5>
    </div>
        <div class="modal-body">
            <p *ngIf = "saveError" class = "error">  {{saveError}} </p>
              <div class="form-group">
                <div class="custom-control custom-radio" *ngFor="let workout of data[0]?.workouts">
                  <!-- <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required> -->
                  <label class="custom-control-label" for="customControlValidation2">{{workout.name}} </label>
                   <button data-dismiss="modal" (click)='addExcercise(workout._id, excercise._id)' type="submit" class="btn btn-primary">Add to Workout</button>
                  <hr>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>
